spring:
  application:
    name: order-service
  lifecycle:
    timeout-per-shutdown-phase: 15s

  r2dbc:
    username: postgres
    password: postgres
    url: r2dbc:postgresql://localhost:5433/polar_db_order
    pool:
      max-create-connection-time: 2s
      initial-size: 5
      max-size: 10
  flyway:
    user: postgres
    password: postgres
    url: jdbc:postgresql://localhost:5433/polar_db_order

server:
  port: 8082
  shutdown: graceful
  netty:
    connection-timeout: 2s
    idle-timeout: 15s

polar:
  catalog-service-uri: http://localhost:8081

